name: Python Code Quality

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # 1. BLACK - отдельный job, не блокирует остальные
  black-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - run: pip install black
    - name: Check formatting
      run: black --diff .
  
  # 2. ISORT - отдельный job, не зависит от black
  isort-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - run: pip install isort
    - name: Check imports
      run: isort --diff.
  
  # 3. FLAKE8 - отдельный job
  flake8-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - run: pip install flake8
    - name: Lint code
      run: flake8 .
  
  # 4. MYPY - отдельный job
  mypy-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - run: pip install mypy
    - name: Check types
      run: mypy --ignore-missing-imports .
